.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 4593px;
    position: relative;
  }
  .ILIA-APRIL-HP.ILIA-APRIL-HPILIA-APRIL-HP{
    position: absolute;
    width:100vw;
    height:70vh;
    top:-228px;
    left:-629px;

  }
  
  .desktop .overlap {
    position: absolute;
    width: 1383px;
    height: 45px;
    top: 14px;
    left: 28px;
    background-color: #f1f0ed;
    border-radius: 16px;
  }
  
  .desktop .group {
    position: relative;
    width: 292px;
    height: 26px;
    top: 9px;
    left: 546px;
  }
  
  .desktop .frame {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
  }
  
  .desktop .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Neue Montreal-Medium", Helvetica;
    font-weight: 500;
    color: #525252;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .desktop .div-wrapper {
    display: flex;
    width: 87px;
    height: 26px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 10px;
    position: relative;
    background-color: #ffffff;
    border-radius: 56px;
  }
  
  .desktop .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #525252;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  /* .desktop .ILIA-APRIL-HP {
    position: absolute;
    width: 1383px;
    height: 700px;
    top: -2228px;
    left: -692px;
  }
   */
  .desktop .frame-2 {
    display: flex;
    flex-direction: column;
    width: 1253px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 468px;
    left: 94px;
  }
  
  .desktop .frame-3 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: 405px;
    margin-top: -1.00px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 72px;
    letter-spacing: -1.44px;
    line-height: 75px;
  }
  
  .desktop .p {
    position: relative;
    width: fit-content;
    font-family: "Neue Montreal-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -0.32px;
    line-height: 32px;
    white-space: nowrap;
  }
  
  /* .desktop .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 187px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px 24px;
    position: relative;
    background-color: #ffffff;
    border-radius: 9999px;
    overflow: hidden;
  } */
  
  .desktop .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.50px;
    font-family: "Neue Montreal-Medium", Helvetica;
    font-weight: 500;
    color: #525252;
    font-size: 18px;
    letter-spacing: -0.24px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .desktop .divider {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.1;
  }
  
  .desktop .frame-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .icon-stroke {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .desktop .slide-indicators {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .slide-indicator {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
  .desktop .slide-indicator-2 {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    top: 94px;
    left: 653px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: -2.00px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .shop-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 107px;
    left: 93px;
  }
  
  .desktop .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.36px;
    line-height: 25px;
    white-space: nowrap;
  }
  
  .desktop .about {
    position: absolute;
    top: 106px;
    left: 206px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.36px;
    line-height: 25px;
    white-space: nowrap;
  }
  
  .desktop .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 45px;
    position: absolute;
    top: 107px;
    left: 1052px;
  }
  
  .desktop .frame-7 {
    display: inline-flex;
    align-items: center;
    gap: 45px;
    position: absolute;
    top: 817px;
    left: -338px;
  }
  
  .desktop .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #a3a3a3;
    font-size: 84.8px;
    letter-spacing: -1.70px;
    line-height: 84.8px;
    white-space: nowrap;
  }
  
  .desktop .image {
    position: relative;
    width: 55.78px;
    height: 55.78px;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 32px;
    left: 2092px;
    border-radius: 10.6px;
    border: 1.33px solid;
    border-color: #a3a3a3;
  }
  
  .desktop .group-2 {
    position: absolute;
    width: 1379px;
    height: 505px;
    top: 980px;
    left: 32px;
  }
  
  .desktop .overlap-wrapper {
    position: absolute;
    width: 445px;
    height: 505px;
    top: 0;
    left: 468px;
  }
  
  .desktop .overlap-group {
    position: relative;
    width: 443px;
    height: 505px;
    background-color: #f5f5f5;
    border-radius: 24px;
  }
  
  .desktop .overlap-group-wrapper {
    position: absolute;
    width: 255px;
    height: 333px;
    top: 87px;
    left: 160px;
  }
  
  .desktop .overlap-group-2 {
    position: relative;
    height: 333px;
  }
  
  .desktop .element {
    position: absolute;
    width: 235px;
    height: 138px;
    top: 195px;
    left: 20px;
  }
  
  .desktop .img {
    position: absolute;
    width: 104px;
    height: 332px;
    top: 0;
    left: 0;
  }
  
  .desktop .group-3 {
    position: absolute;
    width: 389px;
    height: 60px;
    top: 432px;
    left: 28px;
  }
  
  .desktop .detail {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .desktop .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Neue Montreal-Medium", Helvetica;
    font-weight: 500;
    color: #525252;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-family: "Neue Montreal-Regular", Helvetica;
    font-weight: 400;
    color: #a3a3a3;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-9 {
    position: absolute;
    top: 0;
    left: 302px;
    font-family: "Neue Montreal-Medium", Helvetica;
    font-weight: 500;
    color: #525252;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-10 {
    position: absolute;
    top: 27px;
    left: 28px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #525252;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: 47.2px;
    white-space: nowrap;
  }
  
  .desktop .group-4 {
    position: absolute;
    width: 445px;
    height: 505px;
    top: 0;
    left: 936px;
  }
  
  .desktop .group-5 {
    position: absolute;
    width: 445px;
    height: 505px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-2 {
    position: relative;
    width: 443px;
    height: 505px;
    background-image: url(./img/name-24.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .desktop .frame-8 {
    display: flex;
    width: 381px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
    position: absolute;
    top: 434px;
    left: 31px;
    background-color: #f5f5f5;
    border-radius: 32px;
  }
  
  .desktop .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #525252;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-12 {
    position: absolute;
    top: 27px;
    left: 28px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: 47.2px;
    white-space: nowrap;
  }
  
  .desktop .group-6 {
    position: absolute;
    width: 1375px;
    height: 717px;
    top: -712px;
    left: -691px;
  }
  
  .desktop .group-7 {
    position: absolute;
    width: 1381px;
    height: 774px;
    top: 2402px;
    left: 29px;
  }
  
  .desktop .overlap-3 {
    position: relative;
    width: 1383px;
    height: 774px;
  }
  
  .desktop .group-8 {
    position: absolute;
    width: 1383px;
    height: 774px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-group-3 {
    position: relative;
    width: 1381px;
    height: 774px;
    background-color: #f5f5f5;
    border-radius: 24px;
  }
  
  .desktop .text-wrapper-13 {
    position: absolute;
    top: 67px;
    left: 345px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #525252;
    font-size: 64px;
    text-align: center;
    letter-spacing: -1.28px;
    line-height: 75px;
    white-space: nowrap;
  }
  
  .desktop .line {
    position: absolute;
    width: 1212px;
    height: 1px;
    top: 691px;
    left: 32px;
    object-fit: cover;
  }
  
  .desktop .group-9 {
    position: absolute;
    width: 71px;
    height: 32px;
    top: 676px;
    left: 1278px;
  }
  
  .desktop .element-bd {
    position: absolute;
    width: 381px;
    height: 454px;
    top: 180px;
    left: 34px;
    object-fit: cover;
  }
  
  .desktop .element-ba {
    position: absolute;
    width: 381px;
    height: 454px;
    top: 180px;
    left: 439px;
    object-fit: cover;
  }
  
  .desktop .bb {
    position: absolute;
    width: 381px;
    height: 454px;
    top: 180px;
    left: 844px;
    object-fit: cover;
  }
  
  .desktop .dea {
    position: absolute;
    width: 132px;
    height: 454px;
    top: 180px;
    left: 1249px;
  }
  
  .desktop .rectangle-2 {
    position: absolute;
    width: 381px;
    height: 454px;
    top: 180px;
    left: 34px;
    border-radius: 24px;
    background: linear-gradient(
      180deg,
      rgba(82, 82, 82, 0) 0%,
      rgba(82, 82, 82, 0.5) 100%
    );
  }
  
  .desktop .frame-9 {
    display: flex;
    flex-direction: column;
    width: 224px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 536px;
    left: 67px;
  }
  
  .desktop .text-wrapper-14 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28.8px;
  }
  
  .desktop .text-wrapper-15 {
    position: relative;
    align-self: stretch;
    font-family: "Neue Montreal-Regular", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20.2px;
  }
  
  .desktop .group-10 {
    position: absolute;
    width: 1383px;
    height: 724px;
    top: 3276px;
    left: 29px;
  }
  
  .desktop .frame-10 {
    display: flex;
    flex-direction: column;
    width: 662px;
    align-items: flex-start;
    gap: 7px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .desktop .top-selling {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Montreal-Medium", Helvetica;
    font-weight: 500;
    color: #525252;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
  }
  
  .desktop .text-wrapper-16 {
    position: relative;
    align-self: stretch;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #525252;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: 75px;
  }
  
  .desktop .overlap-4 {
    position: absolute;
    width: 841px;
    height: 575px;
    top: 149px;
    left: 0;
    background-image: url(./img/996731159763969-63a5021683ef7.png);
    background-size: 100% 100%;
  }
  
  .desktop .frame-11 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 274px;
    left: 82px;
  }
  
  .desktop .product-preview {
    position: relative;
    width: 258px;
    height: 140px;
  }
  
  .desktop .frame-12 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 8px 40px 8px 8px;
    position: absolute;
    top: 0;
    left: -16px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .desktop .element-b {
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .desktop .frame-13 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .tone-cube {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Neue Montreal-Bold", Helvetica;
    font-weight: 700;
    color: #525252;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .desktop .text-wrapper-17 {
    font-family: "Neue Montreal-Regular", Helvetica;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    width: fit-content;
    color: #525252;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .desktop .icon-bold {
    position: absolute;
    top: 116px;
    left: 117px;
    width: 24px;
    height: 24px;
  }
  
  .desktop .preview-indicator {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff66;
    border-radius: 30px;
    border: 1.5px solid;
    border-color: #ffffff;
  }
  
  .desktop .rectangle-3 {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .desktop .rectangle-wrapper {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 77px;
    left: 124px;
    border-radius: 30px;
    border: 1.5px solid;
    border-color: #ffffff;
  }
  
  .desktop .rectangle-4 {
    position: relative;
    width: 16px;
    height: 16px;
    top: 16px;
    left: 16px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .desktop .overlap-5 {
    position: absolute;
    width: 516px;
    height: 575px;
    top: 149px;
    left: 867px;
    background-color: #f5f5f5;
    border-radius: 24px;
  }
  
  .desktop .group-11 {
    position: absolute;
    width: 255px;
    height: 333px;
    top: 78px;
    left: 199px;
  }
  
  .desktop .group-12 {
    position: absolute;
    width: 441px;
    height: 60px;
    top: 474px;
    left: 37px;
  }
  
  .desktop .frame-14 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
    position: absolute;
    top: 2px;
    left: 308px;
    border-radius: 32px;
    border: 1px solid;
    border-color: #e5e5e5;
  }
  
  .desktop .ratings-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 9.45px;
    padding: 9.45px 18.91px;
    position: absolute;
    top: 26px;
    left: 395px;
    background-color: #ffffff;
    border-radius: 106.36px;
    border: 0.59px solid;
    border-color: #e2e8f0;
  }
  
  .desktop .icon-bold-2 {
    position: relative;
    width: 21.27px;
    height: 21.27px;
  }
  
  .desktop .text-wrapper-18 {
    position: relative;
    width: fit-content;
    margin-top: -0.59px;
    font-family: "Neue Montreal-Regular", Helvetica;
    font-weight: 400;
    color: #1c1b1b;
    font-size: 16.5px;
    letter-spacing: -0.09px;
    line-height: 28.4px;
    white-space: nowrap;
  }
  
  .desktop .group-wrapper {
    position: absolute;
    width: 1440px;
    height: 493px;
    top: 1804px;
    left: -720px;
    background-image: url(./img/image.png);
    background-size: 100% 100%;
  }
  
  .desktop .group-13 {
    position: absolute;
    width: 1381px;
    height: 451px;
    top: 42px;
    left: 30px;
  }
